
<div class="footer-section">
    {{#each model as |item|}}
        <div class="box">
            <ul>
                <li>
                    <h5>{{item.name}}</h5>
                    {{#each item.information as |info|}}
                        <a href={{info.link_1}}><p>{{info.information_1}}</p></a>
                        <a href={{info.link_2}}><p>{{info.information_2}}</p></a>
                        <a href={{info.link_3}}><p>{{info.information_3}}</p></a>
                        <a href={{info.link_4}}><p>{{info.information_4}}</p></a>
                        <a href={{info.link_5}}><p>{{info.information_5}}</p></a>
                    {{/each}}
                </li>
            </ul>
        </div>
    {{/each}}
</div>